version: '3'

services:

  sftp:
    build:
      context: .
      dockerfile: sftp.dockerfile
    ports:
      - '7272:22'
    volumes:
      - /retek_mule:/home

  sftp_images:
    build:
      context: .
      dockerfile: sftp.dockerfile
    ports:
      - '7373:22'
    volumes:
      - /retek_mule/images:/home
